<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sahanidevelopers.mumbaimetro">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.sahanidevelopers.mumbaimetro.ContactActivity"
            android:label="Contact Us"
            android:parentActivityName="com.sahanidevelopers.mumbaimetro.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.sahanidevelopers.mumbaimetro.AboutUsActivity"
            android:label="About Us"
            android:parentActivityName="com.sahanidevelopers.mumbaimetro.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sahanidevelopers.mumbaimetro.SelectLocationLine3Activity"
            android:label="You are at?"
            android:parentActivityName="com.sahanidevelopers.mumbaimetro.SelectDirectionLine3Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sahanidevelopers.mumbaimetro.SelectDirectionLine3Activity"
            android:label="Select Direction"
            android:parentActivityName="com.sahanidevelopers.mumbaimetro.SelectLineActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sahanidevelopers.mumbaimetro.SelectLocationLine2Activity"
            android:label="You are at?"
            android:parentActivityName="com.sahanidevelopers.mumbaimetro.SelectDirectionLine2Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sahanidevelopers.mumbaimetro.SelectDirectionLine2Activity"
            android:label="Select Direction"
            android:parentActivityName="com.sahanidevelopers.mumbaimetro.SelectLineActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sahanidevelopers.mumbaimetro.SelectLineActivity"
            android:label="Select Line"
            android:parentActivityName="com.sahanidevelopers.mumbaimetro.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sahanidevelopers.mumbaimetro.ScheduleLine1Activity"
            android:label="Train Schedule">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sahanidevelopers.mumbaimetro.SelectLocationLine1Activity"
            android:label="You are at?"
            android:parentActivityName="com.sahanidevelopers.mumbaimetro.SelectDirectionLine1Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sahanidevelopers.mumbaimetro.SelectDirectionLine1Activity"
            android:label="Select Direction"
            android:parentActivityName="com.sahanidevelopers.mumbaimetro.SelectLineActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sahanidevelopers.mumbaimetro.FareListActivity"
            android:label="Fare and Route"
            android:parentActivityName="com.sahanidevelopers.mumbaimetro.FareActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sahanidevelopers.mumbaimetro.FareActivity"
            android:label="Fare and Route"
            android:parentActivityName="com.sahanidevelopers.mumbaimetro.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sahanidevelopers.mumbaimetro.MapsActivity"
            android:label="Maps"
            android:parentActivityName="com.sahanidevelopers.mumbaimetro.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sahanidevelopers.mumbaimetro.RechargeActivity"
            android:label="Metro Card Recharge"
            android:parentActivityName="com.sahanidevelopers.mumbaimetro.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sahanidevelopers.mumbaimetro.LoginActivity"
            android:label="Sign In">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.sahanidevelopers.mumbaimetro.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.sahanidevelopers.mumbaimetro.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>